<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Acaid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFFEE06E1F8BBA0500D4294A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFEE0821F8BBA0500D4294A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFEE08D1F8BBA0500D4294A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
